<header>
  {{>navigation this}}
</header>
<main>
  <aside>
    <img src="{{userData.image}}" alt="this is a picture of {{userData.username}}" width="300" />
    <p>Joined: {{registerDate}}</p>
    {{#if itsMe}}

    <a href="/profile/{{userActiveId}}/edit">EDIT</a>
    {{/if}}
  </aside>
  <section>
    <h1>{{userData.username}}</h1>
    <ul>
      {{#each userReviews}}
      <li>
        <a href="/review/{{this.spotifyId}}/{{this._id}}">
          <img src="{{this.albumImg}}" alt="Cover art from {{this.albumName}}" width="150">
          <h3>{{this.albumName}}</h3>
          <h4>{{this.artistNames}}</h4>
        </a>
      </li>
      {{/each}}
    </ul>
  </section>
</main>