<h1>CREATE REVIEW</h1>

<section>
    <img src="{{albumBiggestImage}}" alt="Album cover of {{name}}" width="300">
    <h2>{{name}}</h2>
    <h3>by {{artistNames}}</h3>
    <h4>Label: {{label}}</h4>
    <h4>Released: {{releaseYear}}</h4>
</section>