<h1>CREATE REVIEW</h1>

<section>
  <img src="{{albumImage}}" alt="Album cover of {{name}}" width="300" />
  <h2>{{albumName}}</h2>
  <h3>by {{artistNames}}</h3>
  <h4>Genres: <span>{{genres}}</h4>
  <h4>Label: {{label}}</h4>
  <h4>Released: {{releaseYear}}</h4>
  <h5>Reviewed by: {{username}}</h5>
</section>

<section>
  <form action="/review/{{albumId}}/create" method="post">
    <label for="rating">RATING: </label>
    <input type="number" name="rating" min="0" max="10" required />
    <br />
    <label for="subheading">SUBHEADING: </label>
    <input type="text" name="subheading" maxlength="500" required />
    <br />
    <label for="content">YOUR REVIEW: </label>
    <br />
    <textarea name="content" rows="15" cols="50" maxlength="5500" required>Write here</textarea>
    <br />
    {{#if errorMessage}}
    <p style="color:red;">{{errorMessage}}</p>
    {{/if}}
    <button>CREATE REVIEW</button>
  </form>
</section>