<header>
  {{>navigation}}
</header>
<main>
<h1>SEARCH REVIEW RESULTS</h1>
<ul>
    {{#each foundReviews}}
    <li>
       <img src="{{this.albumImg}}" alt="cover art from {{albumName}}" width="100">
        <h3>{{this.albumName}}</h3>
       <h4>{{this.artistsNames}}</h4>
        <h5>{{this.author.username}}</h5>
    </li>
    {{/each}}
</ul>
</main>