<header>
  {{>navigation this}}
</header>

<main>
  <article>
    <section>
      <h2>{{blogName}}'s Blog</h2>
      <h1>{{albumName}}</h1>
    </section>

    <section>
      <img src="{{albumImg}}" alt="Album cover of {{name}}" width="300" />
      <h3>by {{artistNames}}</h3>
      <h4>Genres: {{genres}}</h4>
      <h4>Label: {{label}}</h4>
      <h4>Released: {{releaseYear}}</h4>
      <h3>{{rating}}/10</h3>
      <img src="{{authorImage}}" alt="image from blog {{blogName}}" width="150" />
      <h5>Reviewed by:
        <a href="/profile/{{authorId}}">{{authorName}}</a>
      </h5>

      {{#if isReviewOwner}}
      <a href="/review/{{albumId}}/{{reviewId}}/edit">EDIT</a>
      <form action="/review/{{albumId}}/{{reviewId}}/delete" method="post">
        <button>DELETE REVIEW</button>
      </form>
      {{/if}}
    </section>

    <section>
      <h2>{{subheading}}</h2>
      <p>{{content}}</p>
    </section>
  </article>
</main>