<header>
  {{>navigation this}}
</header>

<main>
  <h1>{{name}}</h1>
  <section>
    <img src="{{albumImage}}" alt="Album cover of {{name}}" width="300" />
    <h4>{{rating}}/10</h4>
    <img src="{{image}}" alt="image from blog {{blogName}}" width="150" />
    <h3>by {{blogName}}</h3>
    {{#if isReviewOwner}}
    <a href="/review/{{albumId}}/{{reviewId}}/edit">EDIT</a>
    <form action="/review/{{albumId}}/{{reviewId}}/delete" method="post">
      <button>DELETE REVIEW</button>
    </form>
    {{/if}}
  </section>

  <section>
    <h2>{{subheading}}</h2>
    <p>{{content}}</p>
  </section>
</main>