<header>
  {{>searchForm}}
  {{>navigation this}}
</header>

<main>
  <article>
    <section>
      <h2>{{blogName}}'s Blog</h2>
      <h1>{{albumName}}</h1>
    </section>

    {{>albumSheet this}}

    <section>
      <img src="{{authorImage}}" alt="image from blog {{blogName}}" width="150" />
      <div>
        <h2>{{rating}}/10</h2>
        <h3>Reviewed by:
          <a href="/profile/{{authorId}}">{{authorName}}</a>
        </h3>
        <h3>{{reviewDate}}</h3>
      </div>
      {{#if isReviewOwner}}
      <div>
        <a href="/review/{{albumId}}/{{reviewId}}/edit">EDIT</a>
        <form action="/review/{{albumId}}/{{reviewId}}/delete" method="post">
          <button>DELETE REVIEW</button>
        </form>
      </div>
      {{/if}}
    </section>

    <section>
      <h2>{{subheading}}</h2>
      <p>{{content}}</p>
    </section>
  </article>
</main>