<header>
  {{>navigation}}
</header>
<main>
  <h1>{{appTitle}} \m/</h1>
  <h2>Latest Entries</h2>
  <ul>
    {{#each latestEntries}}
    <li>
      <a href="/review/{{this.spotifyId}}/{{this._id}}">
        <img src="{{this.albumImg}}" alt="Cover {{this.albumName}}" width="150">
        <h3>{{this.albumName}}</h3>
        <h4>{{this.subheading}}</h4>
      </a>
    </li>
    {{/each}}
  </ul>
</main>